@import "../variables";
@import "../mixins";
@import "../reset";
@import "../typography";
@import "../container";

.carousel {
    margin: $body-container-margin;
    @include carousel-bg-color;
    @include flexbox {
        align-items: center;
    }
    .banner {
        padding-top: 5vw;
        padding-bottom: 5vw;
        @include flexbox {
            align-items: center;
        }
        .left-arrow, .right-arrow {
            padding: 0;
            i {
                color: $main-accent-color;
                font-size: 3vw;
            }
        }
        .img-wrap {
            width: 100%;
            margin: auto;
            img { 
                width: 100%;
                max-width: 470px;
            }
        }
        .cta-wrap {
            width: 100%;
            padding-right: 6vw;
            margin: auto;
            @include flexbox {
                flex-direction: column;
                align-items: center;
            }
            h2 {
                text-align: center;
                font-size: 3vw;
                span {
                    @include logo-accent-span;
                }
            }
            #cta-text {
                font-size: 1.2vw;
                text-align: center;
                line-height: 1.5;
                padding: 1.5vw 0;
            }
            .more {
                @include button-style($main-accent-color, 1.5vw);
            }
        }
    }
}